<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-block">

    <br>
    <b>AppMe!</b> Corporation has been established as a high-tech company in North and South America.<br> Our traditional business model is based on the accomplishment of properties in the Marketing and Advertising markets in America and worldwide.<br> Based on the decision of the company to diversify our properties; we have now established this corporation in Toronto.<br> The revenues of our company are expected to be nearly US$50,000 per month depending on the variables that are factored in with investments in the real high-tech industry.<br> There is a great need for certified or official bank checks in the future to deal with some high-tech transactions.<br> In addition to high-tech investments, the company has invested portions of its assets in the purchase and sale of developments such as QA and R&D as well as Intel trading on global markets.
s
    <br><br><br>
    <h3>Our Facebook Page:</h3>
    <br>
    <!--<ul>-->
      <!--<li><b>Author:</b> <a href="https://github.com/DavideViolante" target="_blank">Davide Violante</a></li>-->
      <!--<li><b>GitHub:</b> <a href="https://github.com/DavideViolante/Angular2-Full-Stack" target="_blank">project repository</a></li>-->
      <!--<li><b>Tools used:</b></li>-->
      <!--<ul>-->
        <!--<li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>-->
        <!--<li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>-->
        <!--<li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2</a></li>-->
        <!--<li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>-->
        <!--<li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>-->
        <!--<li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>-->
        <!--<li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>-->
      <!--</ul>-->
    <!--</ul>-->

    <!--Facebook API-->
    <section>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAppMe-397957530542267%2F&tabs=timeline&width=320&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="320" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </section>

    <br><br>
    <h3>Our Twitter Page:</h3>
    <section>
    <a class="twitter-timeline" href="https://twitter.com/gal_ev/lists/adme">A Twitter List by gal_ev</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>

    <br>

    <!--YouTube Video-->
    <h3>Check out our latest video!</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q2c2mPpvcpw" frameborder="0" allowfullscreen></iframe>

  </div>
</div>
<br>
