<div class="preferences view indent">
	<div id="containerDiv" class="container">
        <header>
            <h3>Preferences</h3>
        </header>
	</div>
	<div id="containerDiv" class="container">
		<ul class="thumbnails">
			<li class="span4">
				<div class="thumbnail">
					<img src="/content/images/addMsg.jpg" alt="">
					<hr>
					<h3 id="h3Style">Add new Apartment Messege</h3>
					<p>Adding a new Apartment! Easy interface that allow you to control every detail in your message</p>
					<p><a href="#/editMessage/NULL" class="btn btn-primary">Add</a></p>
				</div>
			</li>
			<li class="span4">
				<div class="thumbnail">
					<img src="/content/images/delete.jpg" alt="">
					<hr>
					<h3 id="h3Style">Delete Apartment message</h3>
					<p>Deleting messages easy with friendly interface</p>
					<br><br>
					<p><a href="#/delete" class="btn btn-primary">Delete</a></p>
				</div>
			</li>
			<li class="span4">
				<div class="thumbnail">
					<img src="/content/images/statistic.jpg" alt="">
					<hr>
					<h3 id="h3Style">Apartment Messages statistics</h3>
					<p>Get the data you need to make intelligent marketing and business decisions with Messages Application</p>
					<br>
					<p><a href="#/statistics" class="btn btn-primary">Statistics</a></p>
				</div>
			</li>
		</ul>
	</div>
</div>