
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="http://code.angularjs.org/1.2.13/angular.js"></script>

<div class="container" style="width: auto; background-color: ghostwhite;">

  <!--<nav class="navbar navbar-dark bg-primary">-->
    <!--<div class="nav navbar-nav">-->
    <!--</div>-->
  <!--</nav>-->





<img src="http://i67.tinypic.com/ur3pt.png" alt="logo" width="430px" height="170px">
 <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>

  <nav class="navbar navbar-toggleable-md navbar-light navbar-dark bg-faded bg-primary" style="background-color:#f0ad4e!important;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Hey, Welcome On Board!</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-support"></i> Manage Panel
          </a>
        </li>
        <li class="nav-item ">
          <a routerLink="/runit" class="nav-item nav-link">
            <i class="fa fa-play"></i> Run it!
          </a>
        </li>
        <li class="nav-item ">
          <a routerLink="/statics" class="nav-item nav-link">
            <i class="fa fa-database"></i> Statics
          </a>
        </li>
        <li class="nav-item ">
          <a routerLink="/map" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-map-marker"></i> Map
          </a>
        </li>
        <li class="nav-item ">
        <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-info-circle"></i> About
        </a>
      </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link disabled" href="#">Disabled</a>-->
        <!--</li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


  <router-outlet></router-outlet>




  <!-- The content of your page would go here. -->

  <footer class="footer-distributed">

    <div class="footer-left">

      <h2>Developed By <span><br> Gal Ben Evgi</span></h2>

      <!--<p class="footer-links">-->
        <!--<a href="#">Home</a>-->
        <!--·-->
        <!--<a href="#">Blog</a>-->
        <!--·-->
        <!--<a href="#">Pricing</a>-->
        <!--·-->
        <!--<a href="#">About</a>-->
        <!--·-->
        <!--<a href="#">Faq</a>-->
        <!--·-->
        <!--<a href="#">Contact</a>-->
      <!--</p>-->

      <p class="footer-company-name">MEAN Final Project &copy; 2017</p>

      <div class="footer-icons">

        <a href="https://facebook.com/GalEvv/"><i class="fa fa-facebook"></i></a>
        <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
        <a href="https://il.linkedin.com/in/gal-ben-evgi-506161126"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/GalProject"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <div class="footer-right">

      <p>Contact Me</p>

      <form action="#" method="post">

        <input type="email" name="email" placeholder="Your Email" required/>
        <textarea name="message" placeholder="Your Message"></textarea>
        <button>Send</button>

      </form>

    </div>

  </footer>

</div>
